@import '../../css/variables';

.ant-card { 
    font-family: "Titillium Web", sans-serif !important;
    background: white; padding-left: 8px; padding-right: 8px;
    margin-bottom: 15px;
    
    .ant-card-head {
        padding: 0 10px;
        min-height: 30px !important;

        .ant-card-head-title { 
            display: block !important;
            padding: 0px;

            .title {
                font-size: 16px; 
                font-weight: bold;
                margin-bottom: 0 !important;
            }

            .date {
                font-size: 16px;
                float: right;
                color: $blue;
                font-weight: bold;
            }
        }
    }
    .ant-card-body {
        min-height: 300px;
        padding: 10px;
    }
}

.mainDesc {
    font-size: 21px;
    color: white;
    margin-top: 35px;
    @media only screen and (max-width: 600px) {
        font-size: 14px;
        margin-top: 15px;
    }
}

.tabPaneTitle {
    font-size: 22px;
    margin-top: 20px;
    @media only screen and (max-width: 600px) {
        font-size: 16px;
        margin-top: 15px;
    }
}

.tabsMain {
    text-align: center;
    @media only screen and (max-width: 600px) {
        text-align: center;
    }
}

.wwa_header {
    color: #9A3324;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    @media only screen and (max-width: 600px) {
        color: #9A3324;
        text-align: center;
        font-weight: bold;
        font-size: 22px;
    }
}

.blockFullWidth {
    background: #3A5DAE;
    height: 150px;
    color: white;
    margin-top: 15px;
    margin-bottom: 20px;
    @media only screen and (max-width: 600px) {
        background: #3A5DAE;
        height: 110px;
        color: white;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.cardImageCover:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    filter: brightness(140%);
  }
.cardImageCover {
    overflow: hidden;
    height: 230px;
    border-radius: 25px;
}
 