{
  "presets": [ "env", "react", "stage-0"],
  "plugins": [
    [ "transform-strict-mode", { "strict": true }],
    [ "transform-object-assign" ],
    [ "transform-class-properties", { "spec": true }]
  ]
}