@import './antd.css';
.pr {
  position: relative; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.db {
  display: block; }

.cursor {
  cursor: pointer; }

.pull-left {
  float: left; }

.pull-right {
  float: right !important; }

.pad0 {
  padding: 0 !important; }

.padT0 {
  padding-top: 0px !important; }

.padT5 {
  padding-top: 5px !important; }

.padT10 {
  padding-top: 10px !important; }

.padT15 {
  padding-top: 15px !important; }

.padT20 {
  padding-top: 20px !important; }

.padT30 {
  padding-top: 30px !important; }

.padT40 {
  padding-top: 40px !important; }

.padB0 {
  padding-bottom: 0px !important; }

.padB5 {
  padding-bottom: 5px !important; }

.padB10 {
  padding-bottom: 10px !important; }

.padB15 {
  padding-bottom: 15px !important; }

.padB20 {
  padding-bottom: 20px !important; }

.padB30 {
  padding-bottom: 30px !important; }

.padB40 {
  padding-bottom: 40px !important; }

.padR0 {
  padding-right: 0px !important; }

.padR5 {
  padding-right: 5px !important; }

.padR10 {
  padding-right: 10px !important; }

.padR15 {
  padding-right: 15px !important; }

.padR20 {
  padding-right: 20px !important; }

.padR30 {
  padding-right: 30px !important; }

.padR40 {
  padding-right: 40px !important; }

.padL0 {
  padding-left: 0px !important; }

.padL5 {
  padding-left: 5px !important; }

.padL10 {
  padding-left: 10px !important; }

.padL15 {
  padding-left: 15px !important; }

.padL20 {
  padding-left: 20px !important; }

.padL30 {
  padding-left: 30px !important; }

.padL40 {
  padding-left: 40px !important; }

.mar0 {
  margin: 0 !important; }

.marT0 {
  margin-top: 0px !important; }

.marT5 {
  margin-top: 5px !important; }

.marT10 {
  margin-top: 10px !important; }

.marT15 {
  margin-top: 15px !important; }

.marT20 {
  margin-top: 20px !important; }

.marT25 {
  margin-top: 25px !important; }

.marT30 {
  margin-top: 30px !important; }

.marT40 {
  margin-top: 40px !important; }

.marB0 {
  margin-bottom: 0px !important; }

.marB5 {
  margin-bottom: 5px !important; }

.marB10 {
  margin-bottom: 10px !important; }

.marB15 {
  margin-bottom: 15px !important; }

.marB20 {
  margin-bottom: 20px !important; }

.marB30 {
  margin-bottom: 30px !important; }

.marB40 {
  margin-bottom: 40px !important; }

.marR0 {
  margin-right: 0px !important; }

.marR5 {
  margin-right: 5px !important; }

.marR10 {
  margin-right: 10px !important; }

.marR15 {
  margin-right: 15px !important; }

.marR20 {
  margin-right: 20px !important; }

.marR30 {
  margin-right: 30px !important; }

.marR40 {
  margin-right: 40px !important; }

.marL0 {
  margin-left: 0px !important; }

.marL5 {
  margin-left: 5px !important; }

.marL10 {
  margin-left: 10px !important; }

.marL15 {
  margin-left: 15px !important; }

.marL20 {
  margin-left: 20px !important; }

.marL30 {
  margin-left: 30px !important; }

.marL40 {
  margin-left: 40px !important; }

.title {
  margin-bottom: 10px; }

.not-found {
  font-size: 50px; }

.not-found-under-title {
  font-size: 20px; }

.full-width {
  width: 100%; }

html {
  position: relative;
  min-height: 100% !important; }

body {
  font-family: "Titillium Web", sans-serif !important;
  background: #f8f8f8 !important;
  /* Margin bottom by footer height */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  font-size: 14px !important;
  color: #000000; }

.content {
  overflow: hidden; }

.recharts-responsive-container {
  min-width: 300px;
  min-height: 250px; }

.ant-select, .ant-radio-group, .ant-menu {
  font-family: "Titillium Web", sans-serif !important; }

.ant-btn-group > .ant-btn {
  line-height: 24px; }

.ant-form-item {
  margin-bottom: 0px; }

.meter-box {
  padding: 10px;
  background: white;
  margin: 0; }

.meter-box .deviceInfoColor {
  color: #108ee9; }

.meter-box .consumer-info {
  font-size: 14px;
  font-weight: bolder; }

.DayPickerInput {
  position: relative;
  height: 32px;
  line-height: 1.5;
  color: #000000;
  border: 1px solid #d9d9d9;
  padding: 5px;
  background: white;
  border-radius: 4px;
  margin-left: 4px; }

@media screen and (max-width: 768px) {
  .DayPickerInput {
    margin-left: 0;
    margin-right: 4px; } }

.DayPicker-Footer {
  border-top: 1px solid #eee;
  text-align: center; }

.DayPickerInput::after {
  content: "\E6BB";
  font-family: "anticon" !important;
  position: absolute;
  color: #9E9E9E;
  top: 6px;
  right: 8px; }

.DayPicker-Day .DayPicker-Day--selected {
  background-color: #51a0fa !important; }

.DayPickerInput input {
  border: 0;
  width: 100%; }

.DayPickerInput input:focus {
  outline: none; }

.daypickerwidth .DayPickerInput {
  width: 49%; }
