.mb-0 {
  margin-bottom: 0; }

.mb-15 {
  margin-bottom: 15px; }

.ml-5 {
  margin-left: 5px; }

.ant-card {
  font-family: "Titillium Web", sans-serif !important;
  background: white;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 15px; }
  .ant-card .ant-card-head {
    padding: 0 10px;
    min-height: 30px !important; }
    .ant-card .ant-card-head .ant-card-head-title {
      display: block !important;
      padding: 0px; }
      .ant-card .ant-card-head .ant-card-head-title .title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0 !important; }
      .ant-card .ant-card-head .ant-card-head-title .date {
        font-size: 16px;
        float: right;
        color: #108ee9;
        font-weight: bold; }
  .ant-card .ant-card-body {
    min-height: 300px;
    padding: 10px; }

.techCardsCover {
  width: 60%; }

.mainDesc {
  font-size: 21px;
  color: white;
  margin-top: 35px; }
  @media only screen and (max-width: 600px) {
    .mainDesc {
      font-size: 14px;
      margin-top: 15px; } }

.tabPaneTitle {
  font-size: 22px;
  margin-top: 20px; }
  @media only screen and (max-width: 600px) {
    .tabPaneTitle {
      font-size: 16px;
      margin-top: 15px; } }

.tabsMain {
  text-align: center; }
  @media only screen and (max-width: 600px) {
    .tabsMain {
      text-align: center; } }

.wwa_header {
  color: #9A3324;
  text-align: center;
  font-weight: bold;
  font-size: 28px; }
  @media only screen and (max-width: 600px) {
    .wwa_header {
      color: #9A3324;
      text-align: center;
      font-weight: bold;
      font-size: 22px; } }

.blockFullWidth {
  background: #3A5DAE;
  height: 150px;
  color: white;
  margin-top: 15px;
  margin-bottom: 20px; }
  @media only screen and (max-width: 600px) {
    .blockFullWidth {
      background: #3A5DAE;
      height: 110px;
      color: white;
      margin-top: 15px;
      margin-bottom: 15px; } }

.cardImageCover:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  filter: brightness(140%); }

.cardImageCover {
  overflow: hidden;
  height: 230px; }
